/* nav a {
    color: rgb(59, 1, 20);
    background-color: aqua;
    text-decoration: none;
    font-size: 23px;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
} */

/* nav {
    background-color: aqua;
}

nav a {
    text-decoration: none;
    margin: 5px;
} */